.trip-status-title {
    text-align: center;
}
.status-wrapper form {
    max-width: 500px;
    margin: 90px auto;
    text-align: center;
}
.status-wrapper form input {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px 0px 0px 5px;
    outline: none;
}
.status-wrapper form  input.primary-btn {
    border-radius: 0px 5px 5px 0px;
    padding: 6px 15px;
}
.status-wrapper form input:focus-within {
    border-color: #d31c22;
}
.card a button.primary-btn {
    width: 100%;
    margin-top: 15px;
    padding: 10px 5px;
}
@media screen and (max-width: 720px) {
    .status-wrapper form {
        margin: 40px 15px;
    }
    .status-wrapper form input {
        width: 100%;
        text-align: center;
    }
    .status-wrapper form input.primary-btn {
        width: auto;
        margin-top: 15px;
        border-radius: 5px;
        padding: 10px 40px;
    }
}