
.trip-form {
    margin-top: 30px;
    margin-bottom: 60px;
}

.trip-form form {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ddd;
    outline: none;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.trip-form form input, .trip-form form textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.trip-form form input:focus-within, .trip-form form textarea:focus-within {
    outline: none;
    border-color: #A7161B;
}