 .carousel-quotes {
     background: #d31c22;
     padding: 30px 15px
 }
 .carousel-quotes .carousel-item img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.carousel-quotes .carousel-caption {
    right: 0;
    text-align: left;
    width: 60%;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-quotes .carousel-control-next, 
.carousel-quotes .carousel-control-prev {
    display: none;
}
.carousel-quotes .carousel-indicators {
    margin: 0;
    margin-left: 40%;
}

@media screen and (max-width: 1050px) {
    .carousel-quotes .carousel-item img {
        margin-bottom: 30px;
    }
    .carousel-inner {
        text-align: center;
    }
    .carousel-quotes .carousel-caption {
        text-align: center;
        width: auto;
        position: relative;
        transform: translateY(0);
    }
    .carousel-quotes .carousel-control-next, 
    .carousel-quotes .carousel-control-prev {
        display: flex !important;
    }
    .carousel-quotes .carousel-indicators {
        margin: 0;
    }
}