 .carousel-quotes {
     background: #d31c22;
     padding: 30px 15px
 }
 .carousel-quotes .carousel-item img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.carousel-quotes .carousel-caption {
    right: 0;
    text-align: left;
    width: 60%;
    left: auto;
    top: 50%;
    transform: translateY(-50%);
}
.carousel-quotes .carousel-control-next, 
.carousel-quotes .carousel-control-prev {
    display: none;
}
.carousel-quotes .carousel-indicators {
    margin: 0;
    margin-left: 40%;
}
.coverage-area {
    margin-bottom: 45px;
}
@media screen and (max-width: 1050px) {
    .carousel-quotes .carousel-caption {
        right: 15%;
    text-align: center;
    width: 100%;
    left: 15%;
    top: auto;
    }
}