.trip-detail img {
    max-width: 100%;
}
.trip-detail-wrapper h3 {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 30px;
    display: inline-block;
    border-bottom: 5px solid #ddd;
    padding-bottom: 10px;
}
.trip-order.row {
    text-align: center;
    margin: 45px 0;
}
.trip-order a button {
    padding: 20px 40px;
    text-transform: uppercase;
    font-size: 22px;
    background-color: #A7161B;
    border: none;
    color: #fff;
}
.trip-detail h4 {
    margin: 30px 0;
}