/* global style */
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #313131;
}
a {
  text-decoration: none;
  color: #313131;
}
.primary-btn {
  border: none;
  font-size: 16px;
  font-weight: 500;
  background-color: #A7161B;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
  transition: 0.4s all;
  display: inline-block;
}
.primary-btn:hover {
  background-color: #d31c22;
  color: #fff;
}
/* section title */
.sec-title {
  text-align: center;
  margin: 45px 0;
  text-transform: uppercase;
  font-weight: 600;
}
.sec-title h2 {
  position: relative;
  display: inline-block;
}
.sec-title h2:after {
  position: absolute;
  bottom: -10px;
  width: 70%;
  background: #d31c22;
  height: 5px;
  content: "";
  left: 50%;
  transform: translateX(-50%);
}
.inner-page-header h2 {
  background-color: #d31c22;
  color: rgb(136, 133, 133);
  text-align: center;
  padding: 40px 15px;
  display: block;
  margin-bottom: 45px;
  color: #fff;
  text-transform: uppercase;
}
.preloader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d31c22;
}
.preloader .spinner-border{
  color: #fff;
}